<div class="row">
  <div class="col-md6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"><i>HelloWorldChat</i></h1>
        <form [formGroup]="updateUserSetting" (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" disabled placeholder="{{ userUpdate.email }}">
          </div>
          <div class="form-group">
            <label for="alias">Alias</label>
            <input type="text" class="form-control" formControlName="alias" placeholder="{{ userUpdate.alias }}">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="{{ userUpdate.name }}">
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" formControlName="surname" placeholder="{{ userUpdate.surname }}">
          </div>
          <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <input type="date" class="form-control" formControlName="birthdate" value="{{userUpdate.birthdate}}">
          </div>
          <div class="form-group">
            <label for="sex">Sex</label>
            <select class="form-control" formControlName="sex" value="{{userUpdate.sex}}">
              <option value="">------</option>
              <option vale="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
